<div class="main-area-item" ng-animate="'animate'" ng-controller="DepartmentController as DptCtrl" data-ng-init="DptCtrl.initData()">

    <div>
        <h3>近期工作</h3>
        <!--工作量统计图表区域 start-->
        <div class="col-lg-12" style="height: 250px;">
            <canvas id="department-Chart-ByDay" height="3" width="16"></canvas>
        </div>
        <!--工作量统计图表区域 end-->

        <!--成员列表 start-->
        <div class="col-lg-12" style="height: 250px;">
            <ul class="boards-page-board-section-list" style="list-style: none;">
                <li class="boards-page-board-section-list-item middle-item" ng-repeat="member in DptCtrl.members" style="margin-bottom: 0px;">
                    <a class="board-tile middle">
                        <span class="department-member-icon" title="{{member.name}}@{{member.account}}"></span>
                        <span class="department-member-initials" title="{{member.name}}@{{member.account}}">{{member.name.substring(member.name.length-1, member.name.length)}}</span>
                        <span class="department-member-active-title">近期活动 ... </span>
                        <ul class="department-member-active-items">
                            <li ng-repeat="activeItem in member.activeList" title="{{activeItem}}">
                                <div class="text-overflow">{{activeItem}}</div>
                            </li>
                        </ul>
                    </a>
                </li>
            </ul>
        </div>
        <!--成员列表 end-->

    </div>

</div>