<div ng-animate="'animate'" ng-controller="DepartmentController as DptCtrl" data-ng-init="DptCtrl.initData()">
    <div class="user-profile-nav top-0">
        <nav class="underline-nav" role="navigation">
            <a class="underline-nav-item" role="tab" ng-class="{'selected': DptCtrl.profileNavIsSeleced('Active')}"
               ng-click="DptCtrl.selectProfileNavItem('Active')">近期活动</a>
            <a class="underline-nav-item" role="tab" ng-class="{'selected': DptCtrl.profileNavIsSeleced('Wiki')}"
               ng-click="DptCtrl.selectProfileNavItem('Wiki')">Wiki</a>
            <a class="underline-nav-item" role="tab"
               ng-class="{'selected': DptCtrl.profileNavIsSeleced('Repositories')}"
               ng-click="DptCtrl.selectProfileNavItem('Repositories')">资产</a>
        </nav>
    </div>
    <div class="main-area-item">
        <!--近期工作 start-->
        <div ng-show="DptCtrl.isShowArea('Active')">
            <!--工作量统计图表区域 start-->
            <h2 class="f4 mb-2 text-normal mt-4">
                <span class="glyphicon glyphicon-stats" style="color: #646464;">  近30天工作量统计</span>
            </h2>
            <div class="col-lg-12 mt-4 mb-4" style="height: auto;">
                <canvas id="department-Chart-ByDay" height="2" width="16"></canvas>
            </div>
            <!--工作量统计图表区域 end-->

            <!--成员列表 start-->
            <h2 class="f4 mb-2 text-normal mt-8">
                <span class="glyphicon glyphicon-user" style="color: #646464;">  成员列表</span>
            </h2>
            <div class="col-lg-12 mt-4">
                <ul class="boards-page-board-section-list" style="list-style: none; padding-left: 0px;">
                    <li class="boards-page-board-section-list-item middle-item" ng-repeat="member in DptCtrl.members"
                        style="margin-bottom: 0px;">
                        <a class="board-tile middle" ng-click="DptCtrl.openThisMemberInfo(member)">
                            <span class="department-member-icon" title="{{member.name}}@{{member.account}}"></span>
                            <span class="department-member-initials" title="{{member.name}}@{{member.account}}">{{member.name.substring(member.name.length-1, member.name.length)}}</span>
                            <span class="department-member-active-title">近期活动 ... </span>
                            <ul class="department-member-active-items">
                                <li style="font-size: 12px" ng-repeat="activeItem in member.activeList"
                                    title="{{activeItem}}">
                                    <div class="text-overflow">{{activeItem}}</div>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
            <!--成员列表 end-->

            <!--活动 start-->
            <h2 class="f4 mb-2 text-normal">
                <span class="glyphicon glyphicon-align-left" style="color: #646464;">  成员动态</span>
            </h2>
            <div>
                <div class="col-md-10 activity-listing contribution-activity" style="min-height: 378px;">
                    <div class="contribution-activity-listing col-10 float-left">
                        <div class="profile-timeline discussion-timeline width-full pd-4">
                            <h3 class="profile-timeline-month-heading bg-white d-inline-block h6 pr-2 py-1"
                                style="margin-top: 0px; background-color: #f6f8f8">
                                全体成员
                            </h3>
                            <div class="profile-rollup-wrapper py-4 pl-4 position-relative ml-3 js-details-container Details open"
                                 ng-repeat="log in DptCtrl.displayLogs">
                                <span class="discussion-item-icon">
                                <svg aria-hidden="true" class="octicon octicon-repo-push" height="16" version="1.1"
                                     viewBox="0 0 12 16" width="12" style="margin-top: 1px">
                                    <path fill-rule="evenodd"
                                          d="M4 3H3V2h1v1zM3 5h1V4H3v1zm4 0L4 9h2v7h2V9h2L7 5zm4-5H1C.45 0 0 .45 0 1v12c0 .55.45 1 1 1h4v-1H1v-2h4v-1H2V1h9.02L11 10H9v1h2v2H9v1h2c.55 0 1-.45 1-1V1c0-.55-.45-1-1-1z"></path>
                                </svg>
                            </span>
                                <button class="btn-link f4 muted-link no-underline lh-condensed width-full js-details-target"
                                        type="button">
                                <span class="float-left">
                                    {{log.authorName}}@{{log.authorID}} added 工作记录 to {{log.projectCName}} <span
                                        style="color: #d1d1d1;font-size: 12px;">{{log.showTime}}</span>
                                </span>
                                </button>
                                <label>{{log.content}}</label>
                            </div>
                            <button class="ajax-pagination-btn btn btn-normal border-gray-dark width-full f6 mt-0 py-2" ng-click="DptCtrl.showMoreActivity(DptCtrl.selectedMemberAccount, DptCtrl.pageNum)"
                                    ng-show="DptCtrl.isShowShowMoreAcitivtyBtn">
                                加载更多活动
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 member-list">
                    <ul class="nav nav-pills nav-stacked" id="memberNav">
                        <li ng-class="{active: DptCtrl.memberItemIsSelected('all')}">
                            <a href ng-click="DptCtrl.selectMemberItem('all')">
                                全体
                            </a>
                        </li>
                        <li ng-repeat="member in DptCtrl.members"
                            ng-class="{active: DptCtrl.memberItemIsSelected(member.account)}">
                            <a href ng-click="DptCtrl.selectMemberItem(member.account)">
                                {{member.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--活动 end-->

        </div>
        <!--近期工作 end-->

        <!--WIKI start-->
        <div ng-show="DptCtrl.isShowArea('Wiki')">

        </div>
        <!--WIKI end-->

        <!--部门资产 start-->
        <div ng-show="DptCtrl.isShowArea('Repositories')">

        </div>
        <!--部门资产 end-->

    </div>
</div>