<div class="main-area-item content-area container-fluid" ng-animate="'animate'"
     ng-controller="MyStatusController as Ctrl" data-ng-init="Ctrl.init()">
    <div>
        <h3>近期工作</h3>
        <!--工作量统计图表区域 start-->
        <div class="col-lg-8" style="height: 250px;">
            <canvas id="myStatus-Chart-ByDay" height="5" width="16"></canvas>
        </div>
        <!--工作量统计图表区域 end-->

        <!--按项目统计区域 start-->
        <div class="col-lg-4" style="height: 100px">
            <canvas id="myStatus-Chart-ByPj" height="50" width="80"></canvas>
        </div>
        <!--按项目统计区域 end-->
    </div>

    <!--项目参与度统计区域 start-->
    <div class="row col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
        <h3>项目贡献</h3>
        <ul class="boards-page-board-section-list" style="list-style: none;">
            <li class="boards-page-board-section-list-item large-item" ng-repeat="project in Ctrl.projectList">
                <a class="board-tile large" style="background-color: white">
                    <span></span>

                    <!--圆形进度条的 id 必须以 circle结尾-->
                    <div id="{{project._id}}-circle" class="c100 small orange work-done-percent"></div>
                    <span class="board-tile-details is-badged-large" ng-click="Ctrl.openTheProject(project)">
                        <span title="{{project.cnName}}" class="board-tile-details-name"
                              dir="auto">{{project.cnName}}</span>
                        <span class="board-tile-details-name" style="font-weight: 500"> （耗时：{{project.myWorkDone.toFixed(0)}} / 总耗时：{{project.totalWorkDone.toFixed(0)}}）</span>
                    </span>
                    <span class="board-tile-unread" ng-show="project.unread === true">
                        <span title="项目里没有新的动态。"
                              class="glyphicon glyphicon-certificate board-tile-options-star-icon is-unread"></span>
                    </span>
                    <span class="board-tile-badges"></span>
                </a>
            </li>
        </ul>
    </div>
    <!--项目参与度统计区域 end-->

</div>