<div class="main-area-item content-area container-fluid" ng-animate="'animate'" ng-controller="MyStatusController as Ctrl">
    <div class="row">
        <!--工作量统计图表区域 start-->
        <div class="col-lg-8" style="height: 300px">
            <canvas id="Chart-ByDay" height="130" width="380"></canvas>
        </div>
        <!--工作量统计图表区域 end-->

        <!--按项目统计区域 start-->
        <div class="col-lg-4" style="height: 100px">
            <canvas id="Chart-ByPj" height="50" width="80"></canvas>
        </div>
        <!--区域 end-->
    </div>

    <!--区域 start-->
    <div class="row" style="height: 200px; background-color: #4fff5b;">

    </div>
    <!--区域 end-->

</div>