<div id="review-View" class="row" ng-controller="UnauditedListController as UnauditedsCtrl" data-ng-init="UnauditedsCtrl.init()">
    <div class="col-xs-3">
        <ul class="nav nav-pills nav-stacked" id="myNav">
            <li class="active" ng-class="{active: UnauditedsCtrl.isSelectedProject('all')}">
                <a href ng-click="UnauditedsCtrl.projectSelect('all')">
                    全部项目 <span class="badge">{{UnauditedsCtrl.unauditedJobs_Total.length | add_plus_count_lsg100}}</span>
                </a>
            </li>
            <li ng-repeat="project in UnauditedsCtrl.projects | rm_project_unaudited_count0"
                ng-class="{active: UnauditedsCtrl.isSelectedProject(project.enName)}">
                <a href ng-click="UnauditedsCtrl.projectSelect(project.enName)"
                   data-toggle="tooltip" data-placement="right" title="{{project.cnName}}">
                    {{UnauditedsCtrl.subStr(project.cnName, 10)}} <span class="badge">{{project.count  | add_plus_count_lsg100}}</span>
                </a>
            </li>
            <hr style="margin-right: 90px">
            <li class="active" ng-class="{active: UnauditedsCtrl.isSelectedMember('all')}">
                <a href ng-click="UnauditedsCtrl.memberSelect('all')">
                    全部人员
                </a>
            </li>
            <li ng-repeat="member in UnauditedsCtrl.members" ng-class="{active: UnauditedsCtrl.isSelectedMember(member.account)}">
                <a href ng-click="UnauditedsCtrl.memberSelect(member.account)">
                    {{member.name}}
                </a>
            </li>
            <li>
                <a href="javascript:scroll(0,0)">
                    返回顶部
                </a>
            </li>
        </ul>
        <!--
        <hr style="margin-right: 90px">
        <ul class="nav nav-pills nav-stacked" id="myNav-Members">
            <li class="active">
                <a href>
                    全部人员
                </a>
            </li>
            <li ng-repeat="member in ReviewCtrl.members" ng-class="{active: ReviewCtrl.isSelectedTab(member.account)}">
                <a href>
                    {{member.name}}
                </a>
            </li>
        </ul>
        -->
    </div>
    <div class="col-xs-9" id="jobList">
        <nav style="margin-top: -30px" ng-show="UnauditedsCtrl.isShowPagination">
            <ul class="pagination pagination-sm">
                <!--<li><a href>&laquo;</a></li>-->
                <li ng-repeat="pagination in UnauditedsCtrl.paginations"><a href ng-click="UnauditedsCtrl.pageSelect(pagination)">{{pagination.num}}</a></li>
                <!--<li><a href>&raquo;</a></li>-->
            </ul>
        </nav>

        <div style="width: 100%; margin-bottom: 5px"
             ng-repeat="unauditedJob in UnauditedsCtrl.unauditedJobs_View | filter_audited_decline_logs">
            <div class="row">
                <div class="col-xs-9">
                    <h4><a href ng-click="UnauditedsCtrl.showJobInfo(unauditedJob)">{{unauditedJob.projectCName}}({{unauditedJob.projectEName}})</a> <b style="font-size: 0.85em;font-weight: 400; color: #6e6e6e"> by {{unauditedJob.authorName}}</b></h4>
                    <p style="max-height: 45px; min-height: 45px;margin-bottom: -5px;
                        overflow: hidden;">
                        <b style="color: #6e6e6e;">
                            {{unauditedJob.date.substring(0, 10)}}
                            ({{UnauditedsCtrl.timeFormat(unauditedJob.starTime)}} 至 {{UnauditedsCtrl.timeFormat(unauditedJob.endTime)}})
                        </b>
                        {{unauditedJob.cleanContent}}
                    </p>
                </div>
                <div class="col-xs-3" ng-if="unauditedJob.thumb !== ''">
                    <img style="height: 80px; max-width: 100px" ng-src="{{unauditedJob.thumb}}"/>
                </div>
            </div>
            <div style="height: 1px;margin: 8px 15px 0px -5px;background-color: #d9d9d9;"></div>
        </div>
    </div>
</div>