<form class="auth-form form-horizontal tb-auth" ng-controller="SignInController as SignCtrl">
    <div class="horizontal-line"></div>
    <input name="account" type="hidden" value="">
    <div class="form-field">
        <input name="account" class="form-control email" required="" type="text" placeholder="账号" ng-model="SignCtrl.auth.username"/>
    </div>
    <div class="form-field">
        <input name="password" class="form-control password" required="" type="password" placeholder="密码" ng-model="SignCtrl.auth.password"/>
    </div>
    <div class="form-field">
        <input name="password" class="form-control password" required="" type="password" placeholder="确认密码" ng-model="SignCtrl.auth.password2"
               ng-keypress="SignCtrl.signInByKey($event, SignCtrl.auth)"/>
    </div>
    <button class="btn btn-primary anim-blue-all" type="button" ng-click="SignCtrl.signIn(SignCtrl.auth)">
        注册
    </button>
    <div class="horizontal-line"></div>
    <div class="tb-auth">
        <a class="btn btn-primary anim-blue1 signin" href="auth#/login">
            已有账号？登陆
        </a>
    </div>
</form>