<!DOCTYPE html>
<html lang="en" style="background-color: #fff">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PMSoft</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="/styles/pm_member_status.css">
    <link rel="stylesheet" href="/styles/buttons.css">
    <link rel="shortcut icon" href="/public/favicon.ico">
</head>
<body ng-app="MemberStatus" ng-controller="MemberStatusController as MemberCtrl" data-ng-init="MemberCtrl.initData()">

<!--页头 start-->
<header class="header project-info-header" role="banner">
    <div class="project-info-logo">
        <a href="/">
            <img alt="PM-Soft" src="/public/PMSoft-LOGO.png" height="30px"/>
        </a>
    </div>
</header>
<!--页头 end-->

<div role="main">
    <div class="container-lg px-3 mt-4">
        <div class="col-3 float-left pr-3">
            <a class="d-block position-relative">
                <img width="230" height="230" class="avatar width-full rounded-2" src="/public/56520.jpg"/>
            </a>
            <div class="vcard-names-container">
                <h1 class="vcard-names pb-3">
                    <span class="vcard-fullname d-block">{{MemberCtrl.member.name}}</span>
                    <span class="vcard-username d-block">{{MemberCtrl.member.account}}</span>
                </h1>
                <ul class="vcard-details border-top border-gray-light py-3">
                    <li class="vcard-detail pt-1 css-truncate css-truncate-target" title="{{MemberCtrl.member.department}}" ng-show="MemberCtrl.member.department !== ' '">
                        <span class="glyphicon glyphicon-home">  {{MemberCtrl.member.department}}</span>
                    </li>
                    <li class="vcard-detail pt-1 css-truncate css-truncate-target" title="{{MemberCtrl.member.mobile}}" ng-show="MemberCtrl.member.mobile !== ' '">
                        <span class="glyphicon glyphicon-earphone">  {{MemberCtrl.member.mobile}}</span>
                    </li>
                    <li class="vcard-detail pt-1 css-truncate css-truncate-target" title="{{MemberCtrl.member.officeTel}}" ng-show="MemberCtrl.member.officeTel !== ' '">
                        <span class="glyphicon glyphicon-phone-alt">  {{MemberCtrl.member.officeTel}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9 float-left pl-2">
            <div class="user-profile-nav top-0">
                <nav class="underline-nav" role="navigation">
                    <a class="underline-nav-item" role="tab" ng-class="{'selected': MemberCtrl.profileNavIsSeleced('Active')}" ng-click="MemberCtrl.selectProfileNavItem('Active')">活动</a>
                    <a class="underline-nav-item" role="tab"  ng-class="{'selected': MemberCtrl.profileNavIsSeleced('Repositories')}" ng-click="MemberCtrl.selectProfileNavItem('Repositories')">Repositories</a>
                </nav>
            </div>
            <div style="position: relative !important;">

                <!--近期活动 start-->
                <div class="mt-4" ng-show="MemberCtrl.profileNavIsSeleced('Active')">
                    <div>
                        <h2 class="f4 mb-2 text-normal">
                            <span class="glyphicon glyphicon-stats" style="color: #646464;">  参与的项目</span>
                        </h2>
                        <ol class="pinned-repos-list mb-4">
                            <li class="pinned-repo-item p-3 mb-3 border border-gray-dark rounded-1" ng-repeat="project in MemberCtrl.projectList | sort_NotZero">
                                <div class="pinned-repo-item-content">
                                    <span class="d-block">
                                        <a class="text-bold" href ng-click="MemberCtrl.openThisProject(project._id)">
                                            <span title="project.cnName">{{project.cnName}}</span>
                                            <!--/
                                            <span title="project.cnName">{{project.enName}}</span>-->
                                        </a>
                                    </span>
                                    <p class="pinned-repo-desc text-gray text-small d-block mt-2 mb-3" style="cursor: pointer" title="{{project.about}}">
                                        {{project.about | substring_str: 25}}
                                    </p>
                                    <p class="mb-0 f6 text-gray">
                                        <span class="repo-language-color pinned-repo-meta" ng-class="{'background-green': project.type === '工程', 'background-blue': project.type === '自研'}"></span>
                                        {{project.type}}
                                        <a class="pinned-repo-meta muted-link">{{project.myWorkDone.toFixed(0)}} 小时</a>
                                        <a class="pinned-repo-meta muted-link">项目占比：{{project.percent}}%</a>
                                    </p>
                                </div>
                            </li>
                        </ol>

                        <h2 class="f4 mb-2 text-normal">
                            <span class="glyphicon glyphicon-align-left" style="color: #646464;">  日历</span>
                        </h2>
                        <div id="memberCalendar"></div>

                        <h2 class="f4 mb-2 text-normal">
                            <span class="glyphicon glyphicon-align-left" style="color: #646464;">  近期动态</span>
                        </h2>
                        <div>
                            <div class="col-md-9 activity-listing contribution-activity" style="min-height: 378px;">
                                <div class="contribution-activity-listing col-10 float-left">
                                    <div class="profile-timeline discussion-timeline width-full pd-4">
                                        <h3 class="profile-timeline-month-heading bg-white d-inline-block h6 pr-2 py-1"
                                            style="margin-top: 0px; background-color: #f6f8f8">
                                            工作动态
                                        </h3>
                                        <div class="profile-rollup-wrapper py-4 pl-4 position-relative ml-3"
                                             ng-repeat="log in MemberCtrl.jobLogs">
                                            <span class="discussion-item-icon">
                                                <svg aria-hidden="true" class="octicon" height="16" version="1.1"
                                                    viewBox="0 0 12 16" width="12" style="margin-top: 1px">
                                                    <path fill-rule="evenodd" d="M4 3H3V2h1v1zM3 5h1V4H3v1zm4 0L4 9h2v7h2V9h2L7 5zm4-5H1C.45 0 0 .45 0 1v12c0 .55.45 1 1 1h4v-1H1v-2h4v-1H2V1h9.02L11 10H9v1h2v2H9v1h2c.55 0 1-.45 1-1V1c0-.55-.45-1-1-1z"></path>
                                                </svg>
                                            </span>
                                            <button class="btn-link f4 muted-link lh-condensed width-full"
                                                    type="button">
                                            <span class="float-left">
                                                added 工作记录 to {{log.projectCName|substring_str: 15}} <span style="color: #a3a3a3;font-size: 12px;">{{log.showTime}}</span>
                                             </span>
                                            </button>
                                            <label>{{log.content}}</label>
                                        </div>
                                        <button class="ajax-pagination-btn btn btn-normal border-gray-dark width-full f6 mt-0 py-2" ng-click="MemberCtrl.showMoreActivity()"
                                                ng-show="MemberCtrl.isShowShowMoreAcitivtyBtn">
                                            加载更多活动
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <ul class="nav nav-pills nav-stacked project-list" id="projectNav" >
                                    <li ng-class="{active: MemberCtrl.projectItemIsSelected('all')}">
                                        <a href ng-click="MemberCtrl.selectProjectItem('all')">
                                            全部
                                        </a>
                                    </li>
                                    <li ng-repeat="project in MemberCtrl.projectList"
                                        ng-class="{active: MemberCtrl.projectItemIsSelected(project._id)}">
                                        <a href ng-click="MemberCtrl.selectProjectItem(project._id)" title="{{project.cnName}}">
                                            {{project.cnName|substring_str: 8}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--近期活动 end-->

                <!--Repositories start-->
                <div class="mt-4" style="height: 1200px" ng-show="MemberCtrl.profileNavIsSeleced('Repositories')">

                </div>
                <!--Repositories end-->

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>

<script type="text/javascript" src="/scripts/angular/memberstatus/module.js"></script>
<script type="text/javascript" src="/scripts/angular/memberstatus/config.js"></script>
<script type="text/javascript" src="/scripts/angular/memberstatus/services.js"></script>
<script type="text/javascript" src="/scripts/angular/memberstatus/controller.js"></script>
<script type="text/javascript" src="/scripts/angular/memberstatus/filter.js"></script>
</body>
</html>