<!DOCTYPE html>
<html lang="en" ng-app="MyJobs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PMSoft</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/summernote/dist/summernote.css">
    <link rel="stylesheet" href="/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="/styles/pm_master_page.css">
    <link rel="shortcut icon" href="/public/favicon.ico">
</head>
<body ng-controller="MyJobListController as MyJobListCtrl">
<header class="header" role="banner">
    <div class="cell">
        <div class="header-logo">
            <a href="/">
                <img alt="PM-Soft" src="/public/PMSoft-LOGO.png"/>
            </a>
        </div>
    </div>
</header>
<div class="col-xs-3">
    <ul class="nav nav-pills nav-stacked" id="myNav">
        <li class="active" ng-class="{active: UnauditedsCtrl.isSelectedProject('all')}">
            <a href ng-click="UnauditedsCtrl.projectSelect('all')">
                全部项目 <span class="badge">{{UnauditedsCtrl.unauditedJobs_Total.length}}</span>
            </a>
        </li>
        <li ng-repeat="project in UnauditedsCtrl.projects"
            ng-class="{active: UnauditedsCtrl.isSelectedProject(project.enName)}">
            <a href ng-click="UnauditedsCtrl.projectSelect(project.enName)">
                {{project.cnName}} <span class="badge">{{project.count}}</span>
            </a>
        </li>
        <hr style="margin-right: 90px">
        <li class="active" ng-class="{active: UnauditedsCtrl.isSelectedMember('all')}">
            <a href ng-click="UnauditedsCtrl.memberSelect('all')">
                全部人员
            </a>
        </li>
        <li ng-repeat="member in UnauditedsCtrl.members" ng-class="{active: UnauditedsCtrl.isSelectedMember(member.account)}">
            <a href ng-click="UnauditedsCtrl.memberSelect(member.account)">
                {{member.name}}
            </a>
        </li>
        <li>
            <a href="javascript:scroll(0,0)">
                返回顶部
            </a>
        </li>
    </ul>
    <!--
    <hr style="margin-right: 90px">
    <ul class="nav nav-pills nav-stacked" id="myNav-Members">
        <li class="active">
            <a href>
                全部人员
            </a>
        </li>
        <li ng-repeat="member in ReviewCtrl.members" ng-class="{active: ReviewCtrl.isSelectedTab(member.account)}">
            <a href>
                {{member.name}}
            </a>
        </li>
    </ul>
    -->
</div>

<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/summernote/dist/summernote.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>

<script type="text/javascript" src="scripts/angular/myJobList/module.js"></script>
<script type="text/javascript" src="scripts/angular/myJobList/config.js"></script>
<script type="text/javascript" src="scripts/angular/myJobList/controller.js"></script>
<script type="text/javascript" src="scripts/angular/myJobList/services.js"></script>
</body>
</html>