<!DOCTYPE html>
<html lang="en" ng-app="SignIn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">-->
    <link rel="stylesheet" href="styles/signin.css">
    <title>用户注册</title>
</head>
<body style="background-color: #f2f2f2" ng-controller="SignInController as SignInCtrl">
<div class="header">
    <div class="row" style="padding-top: 30px">
        <b class="title">项 目 管 理 软 件</b>
    </div>
    <div class="row" style="padding-top: 15px">
        <img src="public/pmLOGO.png" style="width: 78px;height: 78px"/>
    </div>
</div>
<div class="container" style="padding-top: 30px">
    <form class="info-area" action="" method="post">
        <div class="horizontal-line"></div>
        <div class="form-field">
            <input class="form-control" role="textbox" readonly="readonly" value="{{SignInCtrl.userInfo.account}}"/>
        </div>
        <div class="form-field">
            <input class="form-control" role="textbox" placeholder="用户姓名" ng-model="SignInCtrl.userInfo.name"/>
        </div>
        <div class="input-group form-field">
            <input class="form-control" required="" type="text" placeholder="性别" value="{{SignInCtrl.getSexName(SignInCtrl.userInfo.sex)}}" readonly>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-item btn btn-align-left ">
                        <a class="btn btn-align-left" href ng-click="SignInCtrl.selectedSex('male')">男</a>
                    </div>
                    <div class="dropdown-item btn btn-align-left ">
                        <a class="btn btn-align-left" href ng-click="SignInCtrl.selectedSex('female')">女</a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="form-field">
            <input class="form-control" role="textbox" placeholder="手机" ng-model="SignInCtrl.userInfo.mobile"/>
        </div>
        <div class="form-field">
            <input class="form-control" role="textbox" placeholder="座机" ng-model="SignInCtrl.userInfo.officeTel"/>
        </div>
        <div class="input-group form-field">
            <input class="form-control" required="" type="text" placeholder="所属部门" value="{{SignInCtrl.getDepartmentName(SignInCtrl.userInfo.departmentId)}}" readonly>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true" ng-click="SignInCtrl.getDepartments()">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <div ng-repeat="department in SignInCtrl.departments" class="dropdown-item btn btn-align-left ">
                        <a class="btn btn-align-left" ng-click="SignInCtrl.selectedDepartment(department.id)">{{department.name}}</a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="form-field">
            <button class="btn btn-default btn-primary anim-blue-all" type="button"
                    style="font-size: 1.2em; font-weight: 400" ng-click="SignInCtrl.signIn(SignInCtrl.userInfo)">
                设  置
            </button>
        </div>
    </form>
</div>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="scripts/angular/signin/module.js"></script>
<script type="text/javascript" src="scripts/angular/signin/run.js"></script>
<script type="text/javascript" src="scripts/angular/signin/controller.js"></script>
<script type="text/javascript" src="scripts/angular/signin/services.js"></script>
</body>
</html>