<!DOCTYPE html>
<html lang="en" ng-app="SysConfig">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/styles/sysconfig.css">
    <title>系统配置</title>
    <link rel="shortcut icon" href="/public/favicon.ico">
</head>
<body ng-controller="SysConfigController as SysConfigCtrl">
<div class="header">
    <div class="row" style="padding-top: 30px">
        <b class="title">项 目 管 理 软 件</b>
    </div>
    <div class="row" style="padding-top: 15px">
        <img src="/public/pmLOGO.png" style="width: 78px;height: 78px"/>
    </div>
</div>
<div class="container">
    <ul class="nav nav-pills config-menu">
        <li role="presentation" ng-class="{active: SysConfigCtrl.isSelectedTab(1)}">
            <a href ng-click="SysConfigCtrl.selectTab(1)">部门分组配置</a>
        </li>
        <li role="presentation" ng-class="{active: SysConfigCtrl.isSelectedTab(2)}">
            <a href ng-click="SysConfigCtrl.selectTab(2)">部门配置</a>
        </li>
        <li role="presentation" ng-class="{active: SysConfigCtrl.isSelectedTab(3)}">
            <a href ng-click="SysConfigCtrl.selectTab(3)">权限模板配置</a>
        </li>
        <li role="presentation" ng-class="{active: SysConfigCtrl.isSelectedTab(4)}">
            <a href ng-click="SysConfigCtrl.selectTab(4)">权限配置</a>
        </li>
    </ul>
    <div class="horizontal-line"></div>

    <!--部门分组设置-->
    <div ng-show="SysConfigCtrl.isSelectedTab(1)">
        <div class="config">
            <h2>部门分组设置</h2>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                <tr ng-repeat="departmentGroup in SysConfigCtrl.departmentGroups">
                    <td>
                        <input type="text" ng-model="departmentGroup.id" readonly/>
                    </td>
                    <td>
                        <input type="text" ng-model="departmentGroup.name"/>
                    </td>
                    <td>
                        <a href ng-click="SysConfigCtrl.updateDptGroup(departmentGroup._id, departmentGroup.name)">Update</a>
                        <b>|</b>
                        <a href ng-click="SysConfigCtrl.deleteDptGroup(departmentGroup._id)">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" ng-model="SysConfigCtrl.newDepartmentGroup.id"/>
                    </td>
                    <td>
                        <input type="text" ng-model="SysConfigCtrl.newDepartmentGroup.name"/>
                    </td>
                    <td>
                        <a ng-click="SysConfigCtrl.insertDptGroup(SysConfigCtrl.newDepartmentGroup.id, SysConfigCtrl.newDepartmentGroup.name)"
                           href>Add</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!--部门设置-->
    <div ng-show="SysConfigCtrl.isSelectedTab(2)">
        <div class="config">
            <h2>部门设置</h2>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Group</th>
                    <th></th>
                </tr>
                <tr ng-repeat="department in SysConfigCtrl.departments">
                    <td>
                        <input type="text" ng-model="department.id" readonly/>
                    </td>
                    <td>
                        <input type="text" ng-model="department.name"/>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                {{SysConfigCtrl.getDepartmentGroupName(department.group)}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="Group in SysConfigCtrl.departmentGroups">
                                    <a href ng-click="SysConfigCtrl.selectedDepartmentGroup(Group.name, department)">{{Group.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <a href
                           ng-click="SysConfigCtrl.updateDepartment(department.id, department.name, department.group)">Update</a>
                        <b>|</b>
                        <a href ng-click="SysConfigCtrl.deleteDepartment(department._id)">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" ng-model="SysConfigCtrl.newDepartment.id"/>
                    </td>
                    <td>
                        <input type="text" ng-model="SysConfigCtrl.newDepartment.name"/>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    {{SysConfigCtrl.getDepartmentGroupName(SysConfigCtrl.newDepartment.group)}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="Group in SysConfigCtrl.departmentGroups">
                                    <a href ng-click="SysConfigCtrl.selectedDepartmentGroup(Group.id, SysConfigCtrl.newDepartment)">{{Group.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <a ng-click="SysConfigCtrl.insertDepartment(SysConfigCtrl.newDepartment.id, SysConfigCtrl.newDepartment.name, SysConfigCtrl.newDepartment.group)"
                           href>Add</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>


<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/scripts/angular/sysconfig/module.js"></script>
<script type="text/javascript" src="/scripts/angular/sysconfig/config.js"></script>
<script type="text/javascript" src="/scripts/angular/sysconfig/services.js"></script>
<script type="text/javascript" src="/scripts/angular/sysconfig/run.js"></script>
<script type="text/javascript" src="/scripts/angular/sysconfig/controller.js"></script>
<script type="text/javascript" src="/lib/ngStorage.js"></script>
</body>
</html>