article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

html {
    background: #f6f8f8;
    color: #393d40;
    font-family: "Open Sans", Helvetica, Arial, sans-serif, Microsoft Yahei, 微软雅黑, STXihei, 华文细黑, sans-serif;
    font-feature-settings: "kern";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    min-height: 100%;
    position: relative
}

body {
    background: transparent;
}

a {
    text-decoration: none;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    font-weight: 600;
}

.header {
    /*background: black*/
    position: relative;
    display: flex;
    margin: 0;
    height: 75px;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.ls5px {
    letter-spacing: 5px;
}

.header::after {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: auto;
    width: 100%;
    box-shadow: 3px 1px 2px 0px #666;
}

.cell {
    /*background: lightgrey;*/
    max-width: 90em;
    position: relative;
    display: flex;
    margin: 0;
    width: 100%;
}

.header-logo {
    display: flex;
    padding-right: 1.25em;
    align-items: center;
}

.project-info-logo{
    /*position: absolute;
    display: flex;
    left: 25px;
    top: 2px;*/
    display: flex;
    width: 10%;
    align-items: center;
    margin: auto;
}

.header-logo:active, .header-logo:focus, .header-logo:hover {
    opacity: 0.75
}

.header-nav {
    /*background: lightgrey*/
    display: flex;
    align-items: center;
    max-width: 70em;
    width: 100%;
    flex-grow: 1
}

.nav-list {
    display: flex;
    height: auto;
    opacity: 1;
    overflow: visible;
    visibility: visible;
    list-style-type: none;
    flex-grow: 1;
    margin-top: 2em;
    margin-left: 5em;
}

.nav-list-object {
    display: block;
    margin-bottom: 1.25em;
    margin-right: 1.25em
}

.nav-list-object::after {
    content: "";
    display: table
}

.nav-list-object > .nav-list-item {
    float: left;
    margin-bottom: 1.2em;
    margin-right: 2.625em
}

.nav-list-object > .nav-list-item:hover::after {
    content: '';

}

.nav-list-object > .nav-list-item:last-child {
    margin-bottom: 0em;
    margin-right: 0
}

.nav-list-item {
    display: block;
}

.nav-list-item > a {
    text-decoration: none;
}

.nav-list-item-font {
    border: 0;
    font-size: 120%;
    height: 6em;
    color: #6e6e6e;
    font-family: "Microsoft YaHei";
    font-weight: 600;
    font-stretch: extra-expanded;
}

.nav-list-item-font-mark {
    height: 3px;
    width: 5.8em;
    position: relative;
    top: 1.6em;
    left: -11px;

}

.nav-list-item:hover > .nav-list-item-font-mark,
.nav-list-item:focus > .nav-list-item-font-mark,
.nav-list-item:active > .nav-list-item-font-mark {
    background-color: #22425a;
}

.nav-list-item:hover > .nav-list-item-font,
.nav-list-item:focus > .nav-list-item-font,
.nav-list-item:active > .nav-list-item-font {
    color: #22425a;
}

.header-user-icon-container {
    /*background: lightblue;*/
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    max-width: 300px;
    width: 100%
}

.envelope {
    margin-top: 5px;
}

.glyphicon-size-middle {
    font-size: 1.2em;
}

.glyphicon-size-small {
    font-size: 14px;
}

.user-icon {
    border-radius: 3px;
}

.user-icon:active, .user-icon:focus, .user-icon:hover {
    opacity: 0.75
}

.icn-size-0 {
    height: 23px;
    width: 23px;
}

.vertical-split-line {
    background-color: lightgrey;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 1px;
    height: 40px;
}

.header-item-padding {
    padding-left: 23px;
    text-decoration: none;
}

.caret > a {
    text-decoration: none;
}

.dropdown-menu-custom {
    text-align: left;
    font-size: 100%;
    top: 58px;
    border-radius: 4px;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-menu-custom::before {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #CCC;
    position: absolute;
    top: -7px;
    left: 9px;
}

.dropdown-menu-custom::after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    top: -6px;
    left: 9px;
}

.dropdown-menu-header {
    display: block;
    padding: 4px 10px 4px 15px;
    font-size: 1.5em;
    text-overflow: ellipsis;
}

.dropdown-item {
    display: block;
    padding: 4px 10px 4px 15px;
    overflow: hidden;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2em;
}

.dropdown-item:hover, .dropdown-item.zeroclipboard-is-hover {
    color: #fff;
    text-decoration: none;
    background-color: #4078c0
}

.dropdown-item:hover > .octicon, .dropdown-item.zeroclipboard-is-hover > .octicon {
    color: inherit;
    opacity: 1
}

.dropdown-split-line {
    height: 1px;
    margin: 8px 1px;
    background-color: #e5e5e5;
}

.main-area {
    width: 100%;
    height: auto;
    max-width: 100em;
    min-height: 5em;
    padding: 0 10px;
    margin: 30px auto;
    display: block;
    align-items: center;
    /*background: #4fff5b;*/
}

.main-area-item {
    position: relative;
    margin: 0 auto;
    /*background: #1c00cf;*/

}

.btn-align-left {
    text-align: left;
}

.area-building {
    width: 400px;
    height: auto;
    top: 10em;
}

.area-project {
    width: 100%;
    height: auto;
    min-height: 10em;
    /*background: #4fff5b;*/
}

.area-maintenance {
    width: 400px;
    height: 400px;
    background: #fff14b;
}

.main-area-item > img {
    margin: 0 auto;
}

.size-jobsheet {
    width: 57.5em;
    height: 60em;
}

.size-CreateProject {
    width: 47.5em;
    height: 50em;
}

.area-project-list {
    display: flex;
    width: 10em;
    height: auto;
    min-height: 40em;
    /*background-color: #00b3ee;*/
}

.area-JobSheet-recode {
    min-width: 25em;
    min-height: 30em;
    /*background-color: #2ab029;*/
}

.dialog-header {
    background-color: #0d89d0;
    border-radius: 5px 5px 0 0;
    box-shadow: 3px 1px 2px 0px #666;
}

.dialog-body {
    background-color: #f5fafa;
}

.title-h4 {
    font-family: "Microsoft YaHei";
    font-size: 1.5em;
    font-weight: 500;
    color: white;
}

.title-h7 {
    margin-top: 0.6em;
    font-family: "Microsoft YaHei";
    font-size: 1.2em;
    font-weight: 600;
    color: #646464;
}

.title-h6 {
    font-family: "Microsoft YaHei";
    font-size: 1.1em;
    font-weight: 500;
    color: #646464;
}

.title-h8 {
    margin-top: 1em;
    font-family: "Microsoft YaHei";
    font-size: 1.1em;
    font-weight: normal;
    color: #646464;
}

.function-select-area {
    background: white;
    height: 6em;
    width: 55em;
    border-radius: 5px;
}

.function-recode-area {
    background: white;
    height: auto;
    max-height: 500px;
    width: 55em;
    border-radius: 5px;
}

.function-select-item {
    height: 6em;
}

.function-select-item-item > a {
    font-size: 1.1em;
    color: #575a5b;
    font-family: "Microsoft YaHei";
    font-weight: 500;
    padding-left: 5px;
    text-align: center;
}

.function-select-item-item:hover > a,
.function-select-item-item:focus > a,
.function-select-item-item:active > a {
    color: #ffffff;
}

.item-border {
    border-style: solid;
    border-width: 1px;
    border-color: #e7ecec;
}

.function-select-item .title-h8 {
    margin-left: 0.5em;
}

.function-select-area-projects > .dropdown-menu,
.function-select-area-type > .dropdown-menu,
.function-select-area-date > .dropdown-menu {
    top: 88px;
    max-height: 40em;
    overflow: auto
}

.function-select-area-time .dropdown-menu {
    top: 40px;
    max-height: 30em;
    overflow: auto
}

.function-recode-area > div {
    margin: 10px;

}

.recode-area-markdown {
    width: 60em;
    height: 12em;
}

.item-display-none {
    display: none;
}

.create-content-area {
    width: 45em;
}

.project-edit-info-area {
    height: 500px;
    width: 45em;
    margin-top: 10px;
}

.form-field {
    width: 300px;
    border: 0;
    margin: 0 auto;
    padding-bottom: 20px;
}

.form-field-400 {
    width: 400px;
    border: 0;
    margin: 0 auto;
    padding-bottom: 20px;
}

.horizontal-line {
    width: 500px;
    height: 1px;
    background-color: #d9d9d9;
    margin: 30px auto;
}

.icon-project {
    width: 188px;
    height: 150px;
    margin: 40px auto 30px auto;

}

.icon-project > img {
    width: 188px;
    height: 150px;
}

.input-group .dropdown-menu {
    clear: both;
}

#CreateProject p {
    width: 400px;
    font-family: "Microsoft YaHei";
    color: #6e6e6e;
    font-size: 1.1em;
    margin: 5px auto;
    font-weight: 500;
    text-align: center;
}

#CreateProject .members-area {
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6f0f0;
    margin-top: 10px;
}

.project-edit-info-area .horizontal-line {
    width: 500px;
    height: 1px;
    background-color: #d9d9d9;
    margin: 10px auto;
}

.process a {
    font-family: "Microsoft YaHei";
    font-size: 1.2em;
    font-weight: 400;
}

.fix-textarea {
    min-height: 6em;
    max-height: 6em;
    max-width: 300px;
    min-width: 300px;
}

#myNav.affix {
    top: 30px; /* Set the top position of pinned element */
}

#myNav a {
    width: 230px;
    font-size: 1.1em;
    font-family: "Microsoft YaHei";
    font-weight: 500;
}

#myNav.nav-pills {
    width: 240px;
}

#jobList ul li {
    padding: 5px;
}

.boards-page-board-section-list {
    display: flex;
    flex-wrap: wrap;
}

.boards-page-board-section-list-item {
    transform: translate3d(0px, 0px, 0px);
    box-sizing: border-box;
    padding: 0 1pc 8px 0;
    position: relative;
    width: 25%;
}

.board-tile-details.is-badged {
    min-height: 60px;
    padding-bottom: 20px;
}

.board-tile-details {
    display: block;
    padding-right: 36px;
    position: relative;
}

.board-tile {
    background-color: #959da1;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    color: #fff;
    display: block;
    line-height: 20px;
    margin-bottom: 8px;
    padding: 8px 9pt;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.board-tile:hover, .board-tile:focus, .board-tile:active{
    color: #fff;
}

.board-tile-details-name {
    font-size: 1pc;
    font-weight: 700;
    display: inline-block;
    overflow: hidden;
    max-height: 40px;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.board-tile-details-sub-name {
    color: rgba(255, 255, 255, 0.65);
    font-weight: 500;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    padding-top: 5px;
}

.background-green {
    background-color: rgb(81, 152, 57);
}

.background-blue {
    background-color: rgb(0, 121, 191);
}

.board-tile-details-sub-name:hover, .board-tile-details-sub-name:active, .board-tile-details-sub-name:focus {
    color: rgba(255, 255, 255, 0.65);
    font-weight: 500;
}

.board-tile-options {
    position: absolute;
    right: 18px;
    top: 0px;
    z-index: 3;
}


.board-tile-options-star-icon {
    color: #fff;
    bottom: 0px;
    font-size: 1.2em;
    width: 0px;
    height: 18px;
    opacity: 0;
    padding: 9px;
    right: 0px;
    top: 0px;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-property: color, background, opacity, transform, width;
    transition-property: color, background, opacity, transform, width;
}



.board-tile-options-star-icon.is-starred {
    color: #e6c60d;
    opacity: 1;
    width: 18px;
}

.board-tile-options-star-icon.un-starred {
    color: rgba(255, 255, 255, 0.65);
    opacity: 1;
    width: 18px;
}

.board-tile-options-star-icon.is-unread {
    color: #696969;
    opacity: 1;
    width: 18px;
}

.board-tile-badges {
    bottom: 3px;
    left: 6px;
    opacity: 0.8;
    position: absolute;
}

.board-tile-unread {
    position: absolute;
    right: 40px;
    top: 0px;
    z-index: 3;
}

.project-info-header {
    height: 35px;
}

.project-info-top {
    display: flex;
    margin: 15px 5px 10px 80px;
}

.project-info-top-title {
    font-size: 1.3em;
    font-weight: 700;
    color: #474c50;/*color: #2f2f2f;*/
    font-family: "Microsoft YaHei";
}

.project-info-top-star {
    font-size: 2em;
    padding-left: 10px;
    color:  #e6c60d;
    cursor: pointer;
}

.project-info-top-star.is-starred {
    color: #e6c60d;
    opacity: 1;
    width: 18px;
}

.project-info-top-star.un-starred {
    color: rgba(105, 105, 105, 0.81);
    opacity: 1;
    width: 18px;
}



